@use '../../../theme-chalk/src/mixins' as *;

.bz-button {
  display: inline-flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  border-radius: var(--bz-radius-base);
  transition: all var(--bz-transition-duration);

  &:focus-visible {
    outline: 2px solid var(--bz-color-primary-light-2);
    outline-offset: 2px;
  }

  &.el-button.is-round {
    border-radius: 999px;
  }

  &.el-button.is-circle {
    border-radius: 50%;
  }

  &.el-button {
    min-width: 88px;
  }
}

.bz-button__content {
  display: inline-flex;
  align-items: center;
}
